<div class="box">
    <h2>Register</h2>
    <p>
        <label for="inputUsername" class="col-lg-1 control-label">Username</label>
            <input type="text" id="inputUsername" placeholder="Username" ng-model="user.username" required />
    </p>
    <p>
        <label for="inputPassword" class="col-lg-1 control-label">Password</label>
            <input type="password" id="inputPassword" placeholder="Password" ng-model="user.password" required />
    </p>
    <p>
        <label for="inputPasswordConfirm" class="col-lg-1 control-label">Confirm Pass</label>
            <input type="password" id="inputPasswordConfirm" placeholder="ConfirmPassword" ng-model="user.confirmPassword" required />
    </p>
    <p>
        <label for="inputName" class="col-lg-1 control-label">Name</label>
            <input type="text" id="inputName" placeholder="Name" ng-model="user.name" required />
    </p>
    <p>
        <label for="inputPhone" class="col-lg-1 control-label">Phone</label>
            <input type="text"  id="inputPhone" placeholder="Phone" ng-model="user.phone" required />
    </p>
    <p>
        <label for="inputEmail" class="col-lg-1 control-label">Email</label>
            <input type="email" id="inputEmail" placeholder="Email" ng-model="user.email" required />
    </p>
    <p>
        <label for="town" class="col-lg-1 control-label">Town</label>
        <select id="town" ng-model="user.townId">
            <option value="null">(None)</option>
            <option ng-repeat="town in towns" value="{{town.id}}">{{town.name}}</option>
        </select>
    </p>
    <p>
        <a ng-click="register(user)" class="button">Register</a>
        <a href="#/login" class="link">Login</a>
    </p>
</div>